img {
    width: 200px;
    height: 220px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.425), 0 10px 10px rgba(0, 0, 0, 0.425);
    margin: 1rem;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(5, 68, 88, 0.5);
    transform: scale(1.1, 1.1);
    cursor: pointer;
  }
  