.footer-title {
    background-color: #3a069b;
    height: 5rem;
    color: white;
  }
  
  .footer-bar {
    margin-top: 2rem;
    background-color: #864fec;
    height: 3rem;
  }
  
  h3 {
    padding: 2rem;

  }
  