@import url('https://fonts.googleapis.com/css?family=Girassol|Pacifico&display=swap');

.wrong {
    color: #fd0808;
    text-shadow: 2px 2px black;
  }
  
  .right {
    color: #05b353;
  }
  
  .navbar-container {
    background: rgb(28,170,185);
    background: linear-gradient(207deg, rgba(28,170,185,0.4948354341736695) 20%, rgba(3,30,37,1) 100%);
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 9rem;
    font-size: 2rem;
  
  }
  
  .nav-title {
    font-size: 4rem;
    text-shadow: 4px 4px black;
    /* font-family: 'Girassol', cursive; */
    font-family: 'Pacifico', cursive;
  }
  
  .navbar-light .navbar-text {
    color: white;
  }
  
.justify-content-center {
  font-size: 1.3rem;
  text-align: center;
}